sentence-transformers==2.5.1
transformers==4.38.1
accelerate==0.27.2
diskcache
networkx
openai
pyarrow
scikit-learn
pandas
matplotlib
tiktoken
einops
transformers_stream_generator
prefixspan
dashscope
oss2
google.generativeai
replicate
decord
opencv-python